{$PYRORISK_DOMAIN} {
	encode zstd gzip

	header {
		Referrer-Policy "no-referrer"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		-Server
	}

	@science path /science /science/* /science.css /science.js /api/science /api/science/*
	@blue path /blue /blue/* /blue.css /blue.js /api/blue /api/blue/*
	@favicon path /favicon.ico

	handle @favicon {
		respond 204
	}

	handle @science {
		basic_auth {
			{$SCIENCE_USER} {$SCIENCE_PASSWORD_HASH}
		}

		reverse_proxy app:8080
	}

	handle @blue {
		basic_auth {
			{$SCIENCE_USER} {$SCIENCE_PASSWORD_HASH}
		}

		reverse_proxy app:8080
	}

	handle {
		reverse_proxy app:8080
	}
}
